.ferficipo {
    margin-left: 2%;
}
.oszlop {
    width: 33.33%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
.arcimke {
    text-align: center;
    background-color: white;
}
.sor::after {
    content: "";
    clear: both;
    display: table;
}
