.button {
  justify-content: space-around;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 190%;
  cursor: pointer;
  background-color: red;
  width: 130px;
  height: fit-content;
  
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Stílusok csak pcre */
@media screen and (min-width: 769px)  {
  .logo {
    width: 10%;
    border-radius: 90%;
  }

  .input-field {
    width: 70%;
    height: 25px;
  }
  .oszlop {
    width: 13%;
    display: flex;
    flex-direction: column;
  }
  .fejleckep {
    width: 100%;
  }
  .footer-width {
    width: 50%;
  }
}

/* Stílusok csak tabletre */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .logo {
    width: 10%;
  }

  .input-field {
    width: 50%;
    height: 25px;
  }
  .oszlop {
    width: 13%;
    display: flex;
    flex-direction: column;
  }
  .footer-width {
    width: 50%;
  }
}

/* Stílusok csak mobilra */
@media screen and (max-width: 320px) {
  .logo {
    border-radius: 50%;
    width: 30%;
  }

  .input-field {
    width: 70%;
    height: 14px;
  }
  
  .oszlop {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .footer-width {
    width: 50%;
  }
}  

.fejleckep {
  width: 100%;
}

.nepszerugomb1 {
  padding-left: 2px;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: black;
  justify-content: left;
  height: 40px;
  width: 110px;
  background-color: lightgrey;
  border-radius: 12px;
  font-size: 180%;
  height: fit-content;
  text-align: left;
}

.bestsellergomb1 {
  padding-left: 2px;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: black;
  justify-content: space-around;
  height: 20px;
  width: 120px;
  background-color: lightgrey;
  border-radius: 12px;
  height: fit-content;
  font-size: 180%;
}


.arcimke {
  text-align: center;
  background-color: white;
}

.sor::after {
  content: "";
  clear: both;
  display: table;
}

.sor {
  display: flex;
}

.oszlop {
  padding: 5px;
}
.feliratkozas{
  justify-content: flex-end;
  padding-left: 18px;
  
}
.rectangle {
  justify-content: end  ;
  height: 50px;
  width: 100px;
  background-color:lightgray;
  padding-left: 25px;
}



.hirlevel{  
  
  display: flex;
  justify-content: flex-end;
  font-size: large;
}


#hszoveg {
  justify-content: center;
  width: 275px;
  background-color: white;
}